.wd-card-info {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.wd-product-component_suggestion-container{
    margin-top: 55px;
}