.wd-product-details-card-info {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-product-details-review {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.wd-product-details-reviews-font {
    font-size: 17px;
}

.wd-product-details-product-component_suggestion-container {
    margin-top: 55px;
    border-top: 1px solid lightgray;
}

.wd-product-details-card-title {
    font-weight: bold;
    font-size: 40px;
}

.wd-product-details-brand-name {
    color: blue;
    font-weight: bold;
}

.wd-product-details-brand-container {
    color: gray;
    text-transform: uppercase;
}

.wd-product-details-price-container {
    background-color: rgb(233, 233, 250);
    color: blue;
    font-weight: bold;
    width: fit-content;
    border-radius: 15px;
    padding: 0.6rem;
    font-size: 24px;
}

.wd-product-details-currency-container {
    font-weight: lighter;
    margin-right: 5px;
    font-size: 15px;
}

.wd-product-details-price-discount-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.wd-product-details-discount-container {
    margin-left: 20px;
    color: gray;
}

.wd-product-details-discount-text {
    color: #07b44d;
    font-weight: bold;
}

.wd-product-details-description {
    margin-top: 20px;
    color: gray;
}

.wd-product-details-qty-value {
    font-weight: bold;
}

.wd-product-details-buy {
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 125px;
    border: 0;
    font-weight: bold;
    height: 60px;
    margin: 20px 40px 0;
}

.wd-product-details-qty-and-buy-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wd-product-details-review-rating-container {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px;
    width: fit-content;
    margin-top: 10px;
    display: flex;
}

.wd-product-details-rating-container {
    font-weight: bold;
    border-right: 1px solid lightgray;
    padding-right: 4px;
    font-size: 18px;
    text-align: center;
}

.wd-product-details-review-container {
    color: gray;
    margin-left: 4px;
}

.wd-product-details-seller-container{
    margin-top: 2px;
    border-top: 1px solid lightgray;
    display: flex;
}

.wd-product-details-seller-text{
    margin-top: 10px;
    font-weight: lighter;
}
.wd-product-details-seller-name {
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bold;
}