.wd-order-item-container {
    background-color: #FFF;
    margin: 10px;
    width: 100%;
}

.wd-orders-list-container {
    display: flex;
    flex-wrap: wrap;
}

.wd-order-item-header-container {
    background-color: rgb(234, 234, 234);
    width: 100%;
    display: flex;
}

.wd-order-placed-header {
    color: rgb(160, 159, 159);
}

.wd-order-placed-container {
    padding: 10px;
}

.wd-order-placed-date {
    color: rgb(66, 66, 66);
    font-weight: 500;
}

.wd-order-product-thumbnail {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.wd-order-product-details-container {
    display: flex;
    width: 100%;
}

.wd-order-product-details {
    flex-grow: 1;
}

.wd-order-product-title {
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.wd-order-product-delivery-instruction {
    margin: 10px;
    font-size: 15px;
    color: gray;
    font-weight: 600;
}

.wd-order-product-description {
    margin: 10px;
    color: gray;
}

.wd-order-product-delivery-instruction-header {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(84, 84, 84);
}

.wd-order-product-brand-category {
    margin-left: 10px;
    color: rgb(103, 103, 248);
}

.wd-order-product-brand-category-separator {
   padding: 0 5px;
    color: darkgray;
}

.wd-order-product-quantity {
    background-color: rgb(234, 234, 234);
    height: max-content;
    padding: 0.8rem;
    margin: 0.8rem;
    color: rgb(72, 72, 72);
    text-align: center;
}

.wd-order-cancel-button {
    background-color: #FFF;
    margin: 0.8rem;
}

.wd-order-product-quantity-cancel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wd-order-product-cancelled {
    background-color: rgb(234, 234, 234);
    color: rgb(93, 92, 92);
    margin: 10px;
    padding: 5px;
}