@media (max-width: 991px) {
    .wd-container { max-width: 870px; }
}

@media (max-width: 991px) {
    .wd-container { max-width: 870px; }
}

.wd-home-gallery{
    justify-content: space-evenly;
}

.wd-search-comp{
    margin-top: 8%;
}

.wd-mt-40 { margin-top: 60px; }

.wd-mb-80{
    margin-bottom: 80px;
}

.wd-search-comp{
    /* margin-top: 10px; */
    width: 100%;
}

.wd-products-container {
    background-color: #F5F5F5;
    padding: 2rem;
}

.wd-mr-10{
    margin-right: 10px;
}
