.wd-user-review-container {
    margin: 15px;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    width: 30%;
    transition: 0.3s;
}

.wd-user-review-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.wd-user-review-img {
    vertical-align: middle;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
}
.wd-user-review-product-title {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.wd-user-review-header {
    display: flex;
}

.wd-user-review-product-title-and-date-container {
    margin-left: 10px;
}

.wd-user-review-date {
    color: darkgray;
}

.wd-user-review-comment {
    margin: 10px 0;
    color: rgb(64, 63, 63);
}


.wd-user-review-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}