.wd-radius-10 {
    border-radius: 10px;
}

.wd-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 20px;
    padding: 0px !important;
    width: 25%;
    background-color: white;
}

.wd-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.wd-card-title {
    font-weight: bold;
}

.wd-brand {
    color: #7B7A81;
    padding: 8px;
}

.wd-price-container {
    display: flex;
    align-items: center;
}

.wd-price {
    color: #FF0000;
    font-weight: bold;
    padding: 4px 0 4px 8px;
}

.wd-discount {
    background-color: #EEEEEE;
    padding: 4px;
    color: #959698;
    margin: 10px;
}

.wd-card-info {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}