.wd-order-new-address-btn {
    background-color: white;
    border: 0;
    color: blue;
    margin-bottom: 20px;
}

.wd-delivery-instruction-container {
    margin: 10px 0;
}

.wd-place-order-btn {
    background-color: blue;
    color: white;
    border: 0;
    height: 45px;
    margin: 10px;
    width: 120px;
    border-radius: 25px;
}

.wd-cancel-order-btn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    height: 45px;
    width: 100px;
    border-radius: 25px;
    margin: 10px;
}

.wd-order-dialog-action {
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}